@font-face {
  font-family: 'Visuelt Pro';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/VisueltPro-Regular.woff2"), url("../fonts/VisueltPro-Regular.woff");
}

@font-face {
  font-family: 'Visuelt Pro';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/VisueltPro-Medium.woff2"), url("../fonts/VisueltPro-Medium.woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 8px;
  background: #F2F2F2;
  font-family: 'Visuelt Pro', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #808080;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 24px;
    padding: 24px;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  background: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(240px);
          backdrop-filter: blur(240px);
  border-radius: 24px;
  z-index: 1;
}

section {
  padding: 40px 20px;
}

@media (min-width: 1190px) {
  section {
    padding-left: 55px;
    padding-right: 55px;
  }
}

section h2 {
  margin-bottom: 8px;
}

section ul {
  margin-top: 32px;
}

.white-bg {
  background: #fff;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3 {
  color: #1A1A1A;
  font-weight: 500;
}

ul,
ol {
  list-style: none;
}

.btn {
  border: none;
  border-radius: 16px;
  background: #fff;
  text-transform: uppercase;
  color: #4754EB;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  padding: 15px 15px 10px;
  width: 100%;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.04);
}

.btn-order {
  margin-top: 24px;
  margin-bottom: 16px;
}

.header {
  position: relative;
  padding: 16px 20px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1190px) {
  .header {
    padding: 28px 55px;
  }
}

.header .logo {
  color: #4754EB;
}

@media (min-width: 768px) {
  .header .logo {
    font-size: 18px;
    line-height: 24px;
  }
}

.header .menu {
  background: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(320px);
          backdrop-filter: blur(320px);
  position: absolute;
  padding: 40px 20px;
  margin-top: 65px;
  height: calc(100vh - 65px);
  width: 100%;
  right: -105%;
  top: 0;
  -webkit-transition: right .3s;
  transition: right .3s;
}

@media (min-width: 1190px) {
  .header .menu {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 0;
    height: auto;
    padding: 0;
  }
}

.header input[type=checkbox] {
  display: none;
}

.header input[type=checkbox]:checked ~ .menu {
  right: 0;
}

.header .menu-toggle {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 20px;
}

@media (min-width: 768px) {
  .header .menu-toggle {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1190px) {
  .header .menu-toggle {
    display: none;
  }
}

.header .menu-toggle span {
  display: inline-block;
  height: 2px;
  width: 12px;
  border-radius: 10px;
  background: #4754EB;
  position: relative;
  left: 9px;
  top: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (min-width: 768px) {
  .header .menu-toggle span {
    left: 12px;
  }
}

.header .menu-toggle span::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 16px;
  border-radius: 10px;
  background: #4754EB;
  position: absolute;
  top: -6px;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .menu-toggle span::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 14px;
  border-radius: 10px;
  background: #4754EB;
  position: absolute;
  top: 6px;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

input[type=checkbox]:checked + label span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 16px;
}

input[type=checkbox]:checked + label span::before {
  top: 0;
  width: 16px;
}

input[type=checkbox]:checked + label span::after {
  top: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 16px;
}

.menu-list {
  list-style: none;
}

@media (min-width: 1190px) {
  .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1190px) {
  .menu-list .menu-item {
    margin: 0 12px;
  }
}

.menu-list .menu-link {
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  margin: 16px 0px;
  color: #1a1a1a;
}

@media (min-width: 1190px) {
  .menu-list .menu-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #808080;
  }
}

.menu-list .menu-link:hover {
  color: #4754EB;
}

.lang {
  font-size: 24px;
  line-height: 29px;
}

.lang .active {
  color: #4754EB;
}

.hero {
  height: calc(100vh - 70px);
  padding-top: 40px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (min-width: 1190px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(240px);
          backdrop-filter: blur(240px);
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/hero-bg.svg") center/cover no-repeat;
  z-index: -2;
}

.hero h1 {
  font-size: 36px;
  line-height: 45px;
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 56px;
    line-height: 70px;
  }
}

.hero .btn {
  display: inline-block;
  width: auto;
  margin-top: 40px;
  background: #4754EB;
  color: #fff;
}

.hero .wheeldown {
  position: absolute;
  left: 55px;
  bottom: 80px;
  color: #fff;
  display: none;
}

@media (min-width: 1190px) {
  .hero .wheeldown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero .wheeldown img {
  margin-right: 20px;
}

@media (min-width: 1190px) {
  .hero .hero-text,
  .hero .hero-img {
    width: 50%;
  }
}

.hero .hero-img {
  height: 100%;
  background: url("../img/hero-img.png") center/contain no-repeat;
}

.benefits {
  padding-top: 40px;
  padding-bottom: 40px;
}

.benefits .ben-list {
  list-style: none;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .benefits .ben-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.benefits .ben-list li {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .benefits .ben-list li {
    width: 33.33%;
    padding: 0 10px;
  }
}

.benefits .ben-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 16px 12px;
}

.benefits .ben-head img {
  display: block;
  width: 36px;
  margin-right: 12px;
}

.benefits .ben-body {
  padding: 12px 16px 16px;
  background: rgba(0, 0, 0, 0.01);
}

.how-it-work {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.how-it-work::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(240px);
          backdrop-filter: blur(240px);
}

.how-it-work::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/how-bg.svg") center/cover no-repeat;
  z-index: -2;
}

@media (min-width: 1024px) {
  .how-it-work .hiw-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.how-it-work .how-img {
  height: 280px;
  margin: 24px 0 40px;
  background: url("../img/hiw-bg.png") center/contain no-repeat;
}

@media (min-width: 768px) {
  .how-it-work .how-img {
    height: 490px;
    margin-top: 40px;
  }
}

@media (min-width: 1190px) {
  .how-it-work .how-img {
    width: 50%;
  }
}

@media (min-width: 1190px) {
  .how-desc {
    width: 50%;
    padding-left: 30px;
  }
}

.how-desc input {
  display: none;
}

.how-desc label {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  color: #cecece;
  font-size: 18px;
  text-align: center;
}

.how-desc input:checked + label {
  color: #4754EB;
}

.how-desc .tab-content {
  display: none;
  padding: 20px 0 0;
}

.how-desc #step-1:checked ~ .step-1,
.how-desc #step-2:checked ~ .step-2,
.how-desc #step-3:checked ~ .step-3 {
  display: block;
  border-top: 1px solid #cecece;
}

.offers {
  padding-top: 40px;
  padding-bottom: 40px;
}

.offers h2 {
  font-size: 18px;
  line-height: 23px;
}

.offer-list {
  margin-top: 40px;
  list-style: none;
}

@media (min-width: 768px) {
  .offer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.offer-list .offer {
  padding: 10px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .offer-list .offer {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .offer-list .offer {
    width: 33.33%;
  }
}

@media (min-width: 1190px) {
  .offer-list .offer {
    width: 25%;
  }
}

.offer-list .offer .offer-wrap {
  background: #f1f1f1;
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 24px;
  overflow: hidden;
}

.offer-list .offer .offer-head {
  padding: 16px;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-list .offer .offer-body {
  padding: 16px 16px 0;
}

.offer-list .offer h3 {
  margin-bottom: 4px;
}

.offer-list .offer .followers {
  display: block;
  font-size: 16px;
}

.offer-list .offer .price {
  color: #4754EB;
  text-align: right;
  font-size: 24px;
}

.offer-list .offer .currency {
  color: #808080;
  font-size: 15px;
}

.offer-list .offer .offer-option {
  margin-bottom: 16px;
  margin-left: 16px;
  position: relative;
}

.offer-list .offer .offer-option::before {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -16px;
}

.offer-list .offer .open::before {
  content: '\2714';
  color: #4754EB;
}

.offer-list .offer .close::before {
  content: '\2718';
  color: #EB4763;
}

.testimonials {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.testimonials::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(240px);
          backdrop-filter: blur(240px);
}

.testimonials::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/testimonials.svg") center/cover no-repeat;
  z-index: -2;
}

@media (min-width: 768px) {
  .testimonials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.testimonials-list .item {
  padding: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .testimonials-list .item {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .testimonials-list .item {
    width: 33.33%;
  }
}

@media (min-width: 1190px) {
  .testimonials-list .item {
    width: 25%;
  }
}

.testimonials-list .item .item-wrap {
  background: #f1f1f1;
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 24px;
  padding: 16px;
}

.testimonials-list .item .item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 12px;
}

.testimonials-list .item img {
  border-radius: 50%;
}

.testimonials-list .item .item-body {
  padding-top: 16px;
}

.faq-list {
  margin-top: 32px;
}

.faq-list details {
  margin-bottom: 16px;
  background: #fff;
  background: rgba(25, 25, 25, 0.025);
  -webkit-box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
          box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
  border-radius: 16px;
  padding: 0 16px;
}

.faq-list details[open] summary::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq-list summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(25, 25, 25, 0.05);
  -webkit-backdrop-filter: blur(240px);
          backdrop-filter: blur(240px);
  border-radius: 16px;
  padding: 32px 28px 26px;
  margin: 0 -16px 16px;
  list-style: none;
  font-size: 22px;
  line-height: 28px;
  color: #1a1a1a;
}

.faq-list summary::after {
  content: '+';
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  margin-top: -5px;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.callback {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.callback::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(240px);
          backdrop-filter: blur(240px);
}

.callback::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/callback-bg.svg") center/cover no-repeat;
  z-index: -2;
}

@media (min-width: 1190px) {
  .callback .callback-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.callback form {
  margin-top: 16px;
}

@media (min-width: 1190px) {
  .callback form {
    width: 50%;
  }
}

.callback form input,
.callback form textarea {
  margin-bottom: 16px;
  background: #fff;
  border-radius: 16px;
  border: none;
  display: block;
  width: 100%;
  padding: 15px 16px 14px;
  resize: none;
}

.callback form input::-webkit-input-placeholder,
.callback form textarea::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #808080;
}

.callback form input:-ms-input-placeholder,
.callback form textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #808080;
}

.callback form input::-ms-input-placeholder,
.callback form textarea::-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #808080;
}

.callback form input::placeholder,
.callback form textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #808080;
}

@media (min-width: 768px) {
  .callback form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.callback form .btn-submit {
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 15px 32px;
  display: inline-block;
  width: auto;
  background: #4754EB;
  color: #fff;
}

@media (min-width: 768px) {
  .callback form .label {
    padding-left: 30px;
    margin-top: 10px;
  }
}

.callback .callback-img {
  display: none;
  background: url("../img/callback-img.png") center/contain no-repeat;
}

@media (min-width: 1190px) {
  .callback .callback-img {
    display: block;
    width: 50%;
  }
}

.footer {
  padding: 16px 21px 23px;
  background: #4754EB;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: #fff;
}

.footer p {
  color: #d9d9d9;
}

.footer .logo {
  display: block;
  margin-bottom: 8px;
}

.footer span {
  font-size: 24px;
  font-weight: 200;
}
