@font-face {
  font-family: 'Visuelt Pro';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/VisueltPro-Regular.woff2"), url("../fonts/VisueltPro-Regular.woff");
}

@font-face {
  font-family: 'Visuelt Pro';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/VisueltPro-Medium.woff2"), url("../fonts/VisueltPro-Medium.woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  border: 8px solid #f2f2f2;
  background: #F2F2F2;
  font-family: 'Visuelt Pro', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #808080;
}

.wrapper {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(240px);
          backdrop-filter: blur(240px);
  border-radius: 24px;
  z-index: 1;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}

.white-bg {
  background: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #1A1A1A;
  font-weight: 500;
}

.btn {
  border: none;
  border-radius: 16px;
  background: #fff;
  text-transform: uppercase;
  color: #4754EB;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  padding: 15px 15px 10px;
  width: 100%;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.04);
}

.btn-order {
  margin-top: 24px;
  margin-bottom: 16px;
}

.header {
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  color: #4754EB;
}

.header input {
  display: none;
}

.header label {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 20px;
}

.header label span {
  display: inline-block;
  height: 2px;
  width: 12px;
  border-radius: 10px;
  background: #4754EB;
  position: relative;
  left: 9px;
  top: 5px;
}

.header label span::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 16px;
  border-radius: 10px;
  background: #4754EB;
  position: absolute;
  top: -6px;
  left: 0;
}

.header label span::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 14px;
  border-radius: 10px;
  background: #4754EB;
  position: absolute;
  top: 6px;
  left: 0;
}

.menu,
.lang {
  display: none;
}

.hero-bg {
  width: 420px;
  height: 420px;
  background: url(../img/hero-bg-group.svg) center/contain no-repeat;
  position: absolute;
  left: -50%;
  top: 213px;
  z-index: -1;
}

.hero {
  height: calc(100vh - 80px);
  padding-top: 40px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  font-size: 36px;
  line-height: 45px;
}

.hero .hero-img img {
  width: 343px;
}

.hero .img-wrap {
  position: relative;
}

.hero .img-wrap::before {
  content: '';
  display: block;
  width: 264px;
  height: 264px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 40px;
  left: 70px;
}

.hero .img-wrap::after {
  content: '';
  display: block;
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background: #4754EB;
  position: absolute;
  z-index: -2;
  bottom: 70px;
  left: 0;
}

.offers {
  padding-top: 40px;
  padding-bottom: 40px;
}

.offers h2 {
  font-size: 18px;
  line-height: 23px;
}

.offer-list {
  margin-top: 40px;
  list-style: none;
}

.offer-list .offer {
  background: #fafafa;
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 24px;
  margin-bottom: 40px;
  overflow: hidden;
}

.offer-list .offer .offer-head {
  padding: 16px;
  background: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 23px;
}

.offer-list .offer .offer-body {
  padding: 16px 16px 0;
}

.offer-list .offer h3 {
  margin-bottom: 4px;
}

.offer-list .offer .price {
  color: #4754EB;
  text-align: right;
}

.offer-list .offer .currency {
  color: #808080;
  font-size: 15px;
}

.offer-list .offer .offer-option {
  margin-bottom: 16px;
  margin-left: 16px;
  position: relative;
}

.offer-list .offer .offer-option::before {
  font-size: 9px;
  font-weight: 500;
  position: absolute;
  left: -16px;
}

.offer-list .offer .open::before {
  content: '\2714';
  color: #4754EB;
}

.offer-list .offer .close::before {
  content: '\2718';
  color: #EB4763;
}
