// fonts
@font-face {
    font-family: 'Visuelt Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/VisueltPro-Regular.woff2'),
         url('../fonts/VisueltPro-Regular.woff');
}
@font-face {
    font-family: 'Visuelt Pro';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/VisueltPro-Medium.woff2'),
         url('../fonts/VisueltPro-Medium.woff');
}

// vars
$themeColor: #4754EB;
$textColor: #808080;
$titleColor: #1A1A1A;

// global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    // border: 8px solid #f2f2f2;
    padding: 8px;
    background: #F2F2F2;
    font-family: 'Visuelt Pro', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $textColor;
    @media (min-width: 768px) {
        font-size: 18px;
        line-height: 24px;
        padding: 24px;
    }
}
.wrapper {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(240px);
    border-radius: 24px;
    z-index: 1;
}
section {
    padding: 40px 20px;
    @media (min-width: 1190px) {
        padding-left: 55px;
        padding-right: 55px;
    }
    h2 {
        margin-bottom: 8px;
    }
    ul {
        margin-top: 32px;
    }
}
.white-bg {
    background: #fff;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
h1,
h2,
h3 {
    color: $titleColor;
    font-weight: 500;
}
ul,
ol {
    list-style: none;
}
.btn {
    border: none;
    border-radius: 16px;
    background: #fff;
    text-transform: uppercase;
    color: $themeColor;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 500;
    padding: 15px 15px 10px;
    width: 100%;
    transition: background .3s;
    &:hover {
        background: rgba(0,0,0, .04);
    }
}
.btn-order {
    margin-top: 24px;
    margin-bottom: 16px;
}

// header
.header {
    position: relative;
    padding: 16px 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1190px) {
        padding: 28px 55px;
    }
    .logo {
        color: $themeColor;
        @media (min-width: 768px) {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .menu {
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(320px);
        position: absolute;
        padding: 40px 20px;
        margin-top: 65px;
        height: calc(100vh - 65px);
        width: 100%;
        right: -105%;
        top: 0;
        transition: right .3s;
        @media (min-width: 1190px) {
            position: relative;
            top: 0;
            right: 0;
            margin-top: 0;
            height: auto;
            padding: 0;
        }
    }
    input[type=checkbox] {
        display: none;
        &:checked ~ .menu {
            right: 0;
        }
    }
    .menu-toggle {
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
        backdrop-filter: blur(24px);
        border-radius: 20px;
        @media (min-width: 768px) {
            width: 40px;
            height: 40px;
        }
        @media (min-width: 1190px) {
            display: none;
        }
        span {
            display: inline-block;
            height: 2px;
            width: 12px;
            border-radius: 10px;
            background: $themeColor;
            position: relative;
            left: 9px;
            top: 5px;
            transition: all .3s;
            @media (min-width: 768px) {
                left: 12px;
            }
            &::before {
                content: '';
                display: inline-block;
                height: 2px;
                width: 16px;
                border-radius: 10px;
                background: $themeColor;
                position: absolute;
                top: -6px;
                left: 0;
                transition: all .3s;
            }
            &::after {
                content: '';
                display: inline-block;
                height: 2px;
                width: 14px;
                border-radius: 10px;
                background: $themeColor;
                position: absolute;
                top: 6px;
                left: 0;
                transition: all .3s;
            }
        }
    }
}
input[type=checkbox]:checked + label span {
    transform: rotate(45deg);
    width: 16px;
}
input[type=checkbox]:checked + label span::before {
    top: 0;
    width: 16px;
}
input[type=checkbox]:checked + label span::after {
    top: 0;
    transform: rotate(-90deg);
    width: 16px;
}
.menu-list {
    list-style: none;
    @media (min-width: 1190px) {
        display: flex;
        justify-content: flex-end;
    }
    .menu-item {
        @media (min-width: 1190px) {
            margin: 0 12px;
        }
    }
    .menu-link {
        font-weight: 500;
        font-size: 32px;
        line-height: 45px;
        margin: 16px 0px;
        color: #1a1a1a;
        @media (min-width: 1190px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #808080;
        }
        &:hover {
            color: $themeColor;
        }
    }
}
.lang {
    font-size: 24px;
    line-height: 29px;
    .active {
        color: $themeColor;
    }
}

.hero {
    height: calc(100vh - 70px);
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @media (min-width: 1190px) {
        flex-direction: row;
        align-items: center;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(240px);
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../img/hero-bg.svg') center / cover no-repeat;
        z-index: -2;
    }
    h1 {
        font-size: 36px;
        line-height: 45px;
        @media (min-width: 768px) {
            font-size: 56px;
            line-height: 70px;
        }
    }
    .btn {
        display: inline-block;
        width: auto;
        margin-top: 40px;
        background: $themeColor;
        color: #fff;
    }
    .wheeldown {
        position: absolute;
        left: 55px;
        bottom: 80px;
        color: #fff;
        display: none;
        @media (min-width: 1190px) {
            display: flex;
            align-items: center;
        }
        img {
            margin-right: 20px;
        }
    }
    .hero-text,
    .hero-img {
        @media (min-width: 1190px) {
            width: 50%;
        }
    }
    .hero-img {
        height: 100%;
        background: url('../img/hero-img.png') center / contain no-repeat;
    }
}

// benefits
.benefits {
    padding-top: 40px;
    padding-bottom: 40px;
    .ben-list {
        list-style: none;
        margin-top: 30px;
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
        li {
            margin-bottom: 16px;
            @media (min-width: 768px) {
                width: 33.33%;
                padding: 0 10px;
            }
        }
    }
    .ben-head {
        display: flex;
        align-items: center;
        padding: 16px 16px 12px;
        img {
            display: block;
            width: 36px;
            margin-right: 12px;
        }
    }
    .ben-body {
        padding: 12px 16px 16px;
        background: rgba(0, 0, 0, 0.01);
    }
}

// how-it-work
.how-it-work {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(240px);
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../img/how-bg.svg') center / cover no-repeat;
        z-index: -2;
    }
    .hiw-wrap {
        @media (min-width: 1024px) {
            display: flex;
            align-items: center;
        }
    }
    .how-img {
        height: 280px;
        margin: 24px 0 40px;
        background: url('../img/hiw-bg.png') center / contain no-repeat;
        @media (min-width: 768px) {
            height: 490px;
            margin-top: 40px;
        }
        @media (min-width: 1190px) {
            width: 50%;
        }
    }
}
.how-desc {
    @media (min-width: 1190px) {
        width: 50%;
        padding-left: 30px;
    }
    input {
        display: none;
    }
    label {
        display: inline-block;
        cursor: pointer;
        padding: 10px 15px;
        color: #cecece;
        font-size: 18px;
        text-align: center;
    }
    input:checked + label {
        color: $themeColor;
    }
    .tab-content {
        display: none;
        padding: 20px 0 0;
    }
    #step-1:checked ~ .step-1,
    #step-2:checked ~ .step-2,
    #step-3:checked ~ .step-3 {
        display: block;
        border-top: 1px solid #cecece;
    }
}

// offers
.offers {
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
        font-size: 18px;
        line-height: 23px;
    }
}
.offer-list {
    margin-top: 40px;
    list-style: none;
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    .offer {
        padding: 10px;
        margin-bottom: 40px;
        @media (min-width: 768px) {
            width: 50%;
        }
        @media (min-width: 1024px) {
            width: 33.33%;
        }
        @media (min-width: 1190px) {
            width: 25%;
        }
        .offer-wrap {
            background: #f1f1f1;
            box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
            backdrop-filter: blur(24px);
            border-radius: 24px;
            overflow: hidden;
        }
        .offer-head {
            padding: 16px;
            font-size: 18px;
            line-height: 23px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .offer-body {
            padding: 16px 16px 0;
        }
        h3 {
            margin-bottom: 4px;
        }
        .followers {
            display: block;
            font-size: 16px;
        }
        .price {
            color: $themeColor;
            text-align: right;
            font-size: 24px;
        }
        .currency {
            color: $textColor;
            font-size: 15px;
        }
        .offer-option {
            margin-bottom: 16px;
            margin-left: 16px;
            position: relative;
            &::before {
                font-size: 14px;
                font-weight: 500;
                position: absolute;
                left: -16px;
            }
        }
        .open {
            &::before {
                content: '\2714';
                color: $themeColor;
            }
        }
        .close {
            &::before {
                content: '\2718';
                color: #EB4763;
            }
        }
    }
}

// testimonials
.testimonials {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(240px);
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../img/testimonials.svg') center / cover no-repeat;
        z-index: -2;
    }
}
.testimonials-list {
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item {
        padding: 10px;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            width: 50%;
        }
        @media (min-width: 1024px) {
            width: 33.33%;
        }
        @media (min-width: 1190px) {
            width: 25%;
        }
        .item-wrap {
            background: #f1f1f1;
            box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
            backdrop-filter: blur(24px);
            border-radius: 24px;
            padding: 16px;
        }
        .item-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 12px;
        }
        img {
            border-radius: 50%;
        }
        .item-body {
            padding-top: 16px;
        }
    }
}

// faq
// .faq {
//     background: url('../img/faq.png') center / cover no-repeat;
// }
.faq-list {
    margin-top: 32px;
    details {
        margin-bottom: 16px;
        background: #fff;
        background: rgba(25, 25, 25, 0.025);
        box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
        border-radius: 16px;
        padding: 0 16px;
        &[open] summary::after {
            transform: rotate(45deg);
        }
    }
    summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(25, 25, 25, 0.05);
        backdrop-filter: blur(240px);
        border-radius: 16px;
        padding: 32px 28px 26px;
        margin: 0 -16px 16px;
        list-style: none;
        font-size: 22px;
        line-height: 28px;
        color: #1a1a1a;
        &::after {
            content: '+';
            display: block;
            width: 32px;
            height: 32px;
            background: #fff;
            border-radius: 50%;
            margin-top: -5px;
            font-size: 32px;
            line-height: 36px;
            text-align: center;
            transition: transform .3s;
        }
    }
}

// callbaack
.callback {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(240px);
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../img/callback-bg.svg') center / cover no-repeat;
        z-index: -2;
    }
    .callback-wrap {
        @media (min-width: 1190px) {
            display: flex;
        }
    }
    form {
        margin-top: 16px;
        @media (min-width: 1190px) {
            width: 50%;
        }
        input,
        textarea {
            margin-bottom: 16px;
            background: #fff;
            border-radius: 16px;
            border: none;
            display: block;
            width: 100%;
            padding: 15px 16px 14px;
            resize: none;
            &::placeholder {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                color: $textColor;
            }
        }
        .form-group {
            @media (min-width: 768px) {
                display: flex;
                align-items: center;
            }
        }
        .btn-submit {
            margin-top: 24px;
            margin-bottom: 16px;
            padding: 15px 32px;
            display: inline-block;
            width: auto;
            background: $themeColor;
            color: #fff;
        }
        .label {
            @media (min-width: 768px) {
                padding-left: 30px;
                margin-top: 10px;
            }
        }
    }
    .callback-img {
        display: none;
        background: url('../img/callback-img.png') center / contain no-repeat;
        @media (min-width: 1190px) {
            display: block;
            width: 50%;
        }
    }
}

// footer
.footer {
    padding: 16px 21px 23px;
    background: $themeColor;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        color: #fff;
    }
    p {
        color: #d9d9d9;
    }
    .logo {
        display: block;
        margin-bottom: 8px;
    }
    span {
        font-size: 24px;
        font-weight: 200;
    }
}